<ion-header>
  <ion-toolbar>
    <ion-title>Editar Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="task.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="task.description"></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <div class="input-container">
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select
        class="custom-input"
        [(ngModel)]="task.categoryId"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let category of dataService.categories"
          [value]="category.id"
        >
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </div>
  </ion-item>
  <ion-item lines="none">
    <div class="button-date">
      <p>Fecha de inicio</p>
      <ion-button id="open-modal-date" expand="block">
        <ion-icon name="calendar-outline"></ion-icon
      ></ion-button>
    </div>
  </ion-item>
  <ion-modal
  trigger="open-modal-date"
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.5, 0.75, 1]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-datetime
        locale="es-CO"
        hourCycle="h12"
        presentation="date-time"
        preferWheel="false"
        class="full-datetime"
        (ionChange)="onDateChange($event)"
        [(ngModel)]="task.date"
      ></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
  <ion-button expand="block" (click)="save()">Guardar Cambios</ion-button>
</ion-content>
